@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: #333;
}
img {
  vertical-align: bottom;
  text-align: center;
  max-width: 100%;
}
h1, h2, p, a {
  margin: 0;
  line-height: 1.8;
  text-decoration: none;
  color: #000;
}
p + p,
p + h2,
p + h3,
a + a {
  margin-top: 16px;
}
ul {
  list-style-position: inside;
}
a:hover {
  opacity: 0.8;
}

/* HEADER */
header .icon {
  width: 400px;
}
header .call {
  width: 320px;
}
header .container {
  margin: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:800px) {
  header .container {
    flex-direction: column;
    margin: auto;
  }
}
header img {
  max-width: 100%;
}
@media (max-width:800px) {
  header img {
    width: 200px;
    height: auto;
  }
}

/* MAIN-NAVI */
header nav {
  background: #5e17eb;
}
header nav ul {
  list-style: none;
  max-width: 1300px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:800px) {
  header nav ul {
    margin: 16px auto;
    flex-wrap: wrap;
  }
}
header nav li {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width:800px) {
  header nav li {
    flex: none;
  }
}
header nav a {
  /* リンクに幅を持たせる */
  display: block;
  color: white;
  padding: 16px 32px;
}
@media (max-width:800px) {
  header nav a {
    padding: 16px 8px;
  }
}

/* HOME */
.home-title {
  text-align: center;
}
.wrapper {
  max-width: 1300px;
  margin:  0 auto;
  padding: 0 4%;
 }

 /* 見出し */
 .page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  font-weight: normal;
}
@media (max-width: 800px) {
  .page-title {
    font-size: 3rem;
  }
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position:  center top;
  background-repeat: no-repeat;
}
#home {
  background-image: url(../images/top.jpg);
  min-height: 80vh;
}
#home .page-title {
  color: white;
  text-align: center;
}
#eye-catch {
  background-image: url(../images/top2.jpg);
  min-height: 30vh;
}
#eye-catch .page-title {
  color: white;
  text-align: center;
}

/* MAIN */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }
 }

 /* ARTICLE */
article {
  width: 74%;
  /* background: pink; */
  margin-top: 32px;
}
@media (max-width: 800px) {
  article {
    width: 100%;
  }
}
.h2-title {
  font-size: 1.375rem;
  padding: 8px 8px;
  border-bottom: 2px purple solid;
  border-top: 2px purple solid;
  margin-bottom: 16px;
  background: rgba(150,46,255,0.3);
  color: purple;
}
.h3-title {
  font-size: 1.375rem;
  padding: 8px 8px;
  margin-bottom: 16px;
  background: purple;
  color: white;
  border-radius: 10px;
}
.content-link {
  text-decoration: underline;
  color: #0099ff;
}
iframe {
  width: 500px;
  max-width: 100%;
  min-height: 50vh;
}
.content-box {
  display: flex;
  margin: 16px 4%;
  border: solid silver 1.5px;
  border-radius: 10px;
  /* background: gray; */
}
@media (max-width: 800px) {
  .content-box  {
    flex-direction: column;
  }
}
a .content-box:hover {
  opacity: 0.6;
}
.artpic {
  border-radius: 10%;
  margin: 16px 16px;
  width: 200px;
  height: 200px;
}
.caption {
  margin-top: 32px;
}
@media (max-width: 800px) {
  .caption  {
    margin-top: 8px;
  }
}
.date {
  color: gray;
}

/* ASIDE */
aside {
  width: 22%;
  /* background: skyblue; */
  margin-top: 32px;
}
@media (max-width: 800px) {
  aside {
    width: 100%;
  }
}

/* FOOTER */
footer {
  background: #5e17eb;
}
footer p,a {
  color: white;
  text-align: center;
}
.footer-nav  {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.footer-nav li {
  text-align: center;
  margin: 32px 0;
}
